<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header(${'Challenge!'})">
</head>
<body onload="doOnLoad();">
<div class="container-fluid">
    <div th:replace="fragments/navbar :: navbar" class="row navbar"></div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                Challenge Page
            </h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="layoutObj"></div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer" class="row footer"></div>
    </div>
</div>
</body>
</html>