<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header(${'Challenge!'})">
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navbar :: navbar" class="row navbar"></div>
    <div class="row">
        <div class="col-md-10">
            <h1 class="challenge-title text-center">
                Challenge Page
            </h1>
        </div>
        <div class="col-md-2">
            <div class="text-center challenge-buttons"></div>
            <div th:if="${showEditControls}">
                <form th:action="@{'/cryptos/'+*{id}+'/delete'}" th:method="post" th:if="*{crypto.active}">
                    <button class="button">Deactivate</button>
                </form>
                <form th:action="@{'/cryptos/'+*{id}+'/edit'}" th:method="get">
                    <button class="button">Edit</button>
                </form>
            </div>
            <div th:if="*{!crypto.isApproved}">
                <div th:if="${isAdmin}">
                    <form th:action="@{'/cryptos/'+*{id}+'/approve'}" th:method="post">
                        <button class="button">Approve</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-11 col-md-11 col-lg-offset-1 col-md--offset-1" id="layoutObj"></div>
    </div>
    <h2 th:if="${param.incorrect}">Incorrect answer.</h2>

</div>
<div id="challenge">
    <div th:object="${crypto}">
        <div>Name: <span th:text="*{name}"></span></div>
        <div>Creator: <span><a class="indexlink" th:href="@{'/users/'+*{user.id}}"
                               th:text="*{user.username}"></a></span></div>
        <div>Points: <span th:text="*{points}"></span></div>
        <div>Decipher This: <span th:text="*{cryptoText}"></span></div>
        <div>Challenge: <span th:if="${showExtendedInfo}" th:text="*{plainText}"></span></div>
        <div>Solution: <span th:if="${showExtendedInfo}" th:text="*{solution}"></span></div>
        <div>Scheme: <span th:text="*{scheme}"></span></div>
        <div>Key: <span th:if="${showExtendedInfo}" th:text="*{cryptokey}"></span></div>
        <div>Users Solved: <span th:text="*{usersSolved}"></span></div>
        <div>Date Created: <span th:text="*{creationDate}"></span></div>
    </div>
    <form th:if="${solvable}" th:action="@{'/cryptos/'+*{id}+'/solve'}" th:method="post">
        <textarea title="workbench" type="text" name="solution"></textarea>
        <button class="button">Solve</button>
    </form>
</div>

<textarea id="scratchpad"></textarea>

<div id="formContent">
    <div th:include="fragments/workbench :: ${crypto.scheme}"></div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/{system}.js(system=${crypto.scheme})}"></script>
    <div th:replace="fragments/footer :: footer" class="row footer"></div>
</div>
</body>
</html>