<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header(${'Challenge!'})">
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navbar :: navbar" class="row navbar"></div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                Challenge Page
            </h3>
        </div>
    </div>
<div class="row">
    <div class="col-lg-12 col-md-12" id="layoutObj"></div>
</div>
    <div th:replace="fragments/footer :: footer" class="row footer"></div>
</div>
    <div id="formContent">
        <form id="">
            <textarea></textarea>
        </form>
    </div>

    <div id="challenge">
        <form>
            <textarea disabled="disabled"></textarea>
        </form>
    </div>
</body>
</html>