<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header(${'Create a Challenge!'})">
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navbar :: navbar" class="row navbar"></div>
    <div class="jumbotron">
    <div class="row">
        <h2 th:if="${param.success}">Success!</h2>
        <div class="col-md-12">
            <h1>Create a Challenge!</h1>
            <h2>Test your fellow Society Members</h2>
            <form th:action="@{'/cryptos/create'}" method="post" th:object="${crypto}">
                <label>Name:</label>
                <input th:value="*{name}" th:field="*{name}"/>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                <label>plainText</label>
                <textarea class="form-control" th:value="*{plainText}" th:field="*{plainText}"></textarea>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('plainText')}" th:errors="*{plainText}"></p>
                <label>solution</label>
                <textarea class="form-control" th:value="*{solution}" th:field="*{solution}"></textarea>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('solution')}" th:errors="*{solution}"></p>
                <label>scheme</label>
                <select name="scheme" required="required" id="scheme" value="">
                    <option value="" selected="true" hidden="true">Choose a scheme.</option>
                    <option value="caesar">Caesar shift</option>
                    <option value="atbash">Atbash</option>
                    <option value="kamasutra">Kama Sutra</option>
                    <option value="railfence">Rail Fence</option>
                    <option value="vigenere">Vigenere</option>
                </select>
                <div id="key">
                    <div>Select a key.</div>
                </div>
                <label>points</label>
                <input type="number" th:value="*{points}" th:field="*{points}"/>
                <input class="button btn-default" type="submit"/>
            </form>
        </div>
    </div>
</div>
    <div th:replace="fragments/footer :: footer" class="row footer"></div>
    <script src="/js/create.js"></script>

</div>
</body>
</html>