<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@{'/cryptos/create'}" method="post" th:object="${crypto}">
        <label>Name:</label>
        <input th:value="*{name}" th:field="*{name}" />
        <!--<p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>-->
        <label>Body</label>
        <textarea class="form-control" th:value="*{plainText}" th:field="*{plainText}"></textarea>
        <!--<p class="alert alert-danger" th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></p>-->
        <input class="button btn-default" type="submit" />
    </form>
</div>
</body>
</html>