<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/header :: header(${'Edit Challenge'})">
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navbar :: navbar" class="row navbar"></div>
    <div class="row">
        <div class="col-md-12">
            <form th:action="@{'/cryptos/'+*{id}+'/edit'}" method="post" th:object="${crypto}">
                <label for="name">Name:</label>
                <input id="name" name="name" th:value="*{name}" th:field="*{name}"/>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                <label for="plainText">plainText</label>
                <textarea id="plainText" name="plainText" class="form-control" th:value="*{plainText}" th:field="*{plainText}"></textarea>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('plainText')}" th:errors="*{plainText}"></p>
                <label for="solution">solution</label>
                <textarea id="solution" name="solution" class="form-control" th:value="*{solution}" th:field="*{solution}"></textarea>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('solution')}" th:errors="*{solution}"></p>
                <label for="scheme">Scheme</label>
                <select name="scheme" required="required" id="scheme" value="">
                    <option value="" selected="true" hidden="true">Choose a scheme.</option>
                    <option value="caesar">Caesar shift</option>
                    <option value="atbash">Atbash</option>
                    <option value="kamasutra">Kama Sutra</option>
                    <option value="railfence">Rail Fence</option>
                    <option value="vigenere">Vigenere</option>
                </select>
                <div id="key">
                    <div>Select a scheme.</div>
                </div>
                <label>Points</label>
                <input type="text" th:value="*{points}" th:field="*{points}"/>
                <button>Save</button>
            </form>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" class="row footer"></div>
    <script src="/../js/create.js"></script>

</div>
</body>
</html>