<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/header :: header(${'Edit Challenge'})">
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navbar :: navbar" class="row navbar"></div>
    <div class="editprofileDiv">
        <div class="row">
            <div class="col-md-12">
                <form th:action="@{'/cryptos/'+*{id}+'/edit'}" method="post" th:object="${crypto}">
                    <div>
                        <label for="name">Challenge Name:</label>
                        <input id="name" name="name" th:value="*{name}" th:field="*{name}"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                    </div>
                    <div>
                        <label for="plainText">PlainText:</label>
                        <textarea id="plainText" name="plainText" class="form-control" th:value="*{plainText}"
                                  th:field="*{plainText}"></textarea>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('plainText')}" th:errors="*{plainText}"></p>
                    </div>
                    <div>
                        <label for="solution">Solution:</label>
                        <textarea id="solution" name="solution" class="form-control" th:value="*{solution}"
                                  th:field="*{solution}"></textarea>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('solution')}" th:errors="*{solution}"></p>
                    </div>
                    <div>
                        <label for="scheme">Scheme:</label>
                        <select name="scheme" required="required" id="scheme" value="">
                            <option value="" selected="true" hidden="true">Choose a Scheme:</option>
                            <option value="caesar">Caesar Shift</option>
                            <option value="atbash">Atbash Cipher</option>
                            <option value="kamasutra">Kama Sutra Cipher</option>
                            <option value="railfence">Rail Fence Cipher</option>
                            <option value="vigenere">Vigenère Cipher</option>
                        </select>
                    </div>
                    <div id="key">
                        <div>Select a scheme.</div>
                    </div>
                    <div>
                        <label for="keepPunctuation">Keep punctuation?</label>
                        <input type="checkbox" th:value="*{keepPunctuation}" th:field="*{keepPunctuation}"
                               id="keepPunctuation" value="true"/>
                    </div>
                    <div>
                        <label>Points</label>
                        <input type="text" th:value="*{points}" th:field="*{points}"/>
                    </div>
                    <button class="button">Save</button>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" class="row footer"></div>
    <script src="/../js/create.js"></script>

</div>
</body>
</html>