<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <div>
        <div th:each="crypto : ${cryptoList}" th:object="${crypto}">
            <a th:href="@{'/cryptos/' + *{id}}"><div th:text="*{name}">Title</div></a>
            <div th:text="*{scheme}"></div>
            <div th:text="*{cryptoText}">Puzzle</div>
            <div th:text="*{creationDate}"></div>
            <div><a th:href="@{'/users/'+*{user.id}}" th:text="*{user.username}"></a></div>
        </div>
    </div>
</body>
</html>