<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header(${'Challenge Index'})">
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navbar :: navbar" class="row navbar"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="challengesDiv1">
                <h2>Challenge Yourself!</h2>
                <a class="indexlink" href="/../cryptos/challenge">Randomly Generated Challenge</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="challengesDiv2">
                <h2>Create and Edit Your Challenges</h2>
                <a class="indexlink" href="/../cryptos/create">Create a Challenge</a>
                <a class="indexlink editlink" href="/../users/profile">Edit Your Challenges</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="challenge.title text-center">CHALLENGES</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" th:each="crypto : ${cryptoList}" th:object="${crypto}">
            <div class="panel panel-default">
                <div class="panel-heading"><a class="panel-title" th:href="@{'/cryptos/' + *{id}}"
                                              th:text="*{name}"></a></div>
                <div class="panel-body">
                    <div th:text="*{scheme}"></div>
                    <div th:text="*{cryptoText}">Puzzle</div>
                    <div th:text="*{creationDate}"></div>
                    <div><a class="indexlink" th:href="@{'/users/'+*{user.id}}" th:text="*{user.username}"></a></div>
                </div>
            </div>
        </div>
    </div>
    <h2 th:if="${param.success}">Good Job! You got it right.</h2>
    <div th:replace="fragments/footer :: footer" class="row footer">
    </div>
</div>
</body>
</html>