<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="navbar" class="row">
    <div class="col-md-12">
        <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav sticky-top" role="banner">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                    <a href="/" class="navbar-brand">CryptoSociety</a>
            </div>
            <nav class="collapse sticky-top navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/../cryptos">CryptoChallenges</a>
                    </li>
                    <li>
                        <a href="/../walkthroughs">Walkthroughs</a>
                    </li>
                    <li>
                        <a href="/../workbench">Workbench</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAnonymous()">
                        <a href="/../register">Register</a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a href="/../login">Login</a>
                    </li>
                    <li class="dropdown" sec:authorize="isAuthenticated()">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span sec:authentication="name">Username should be here</span><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/../users/profile">Your Profile</a></li>
                            <li><a href="#" id="logoutbutton">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <form th:action="@{'/logout'}" th:method="post" id="logoutform"></form>
</div>
</body>
</html>