<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="wikinav" class="row">
        <div class="col-md-3">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="/walkthroughs">
                            Walkthrough Home
                        </a>
                    </li>
                    <li>
                        <a href="/walkthroughs/cryptanalysis">General Cryptanalysis</a>
                    </li>
                    <li>
                        <a href="/walkthroughs/caesar">Caesar Shift Cipher</a>
                    </li>
                    <li>
                        <a href="/walkthroughs/atbash">Atbash Cipher</a>
                    </li>
                    <li>
                        <a href="/walkthroughs/railfence">Rail Fence Cipher</a>
                    </li>
                    <li>
                        <a href="/walkthroughs/kamasutra">Kama Sutra Cipher</a>
                    </li>
                    <li>
                        <a href="/walkthroughs/vigenere">Vigenère Cipher</a>
                    </li>
                    <li>
                        <a href="/walkthroughs/vigenereDecrypt">Decrypting the Vigenère</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>