<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div th:fragment="caesar">
    <label for="plaintextBox">Plaintext:</label>
    <input type="text" name="plaintextBox" id="plaintextBox" />
    <button id="encrypt">encrypt</button>
    <label for="ciphertextBox">Ciphertext:</label>
    <input type="text" name="ciphertextBox" id="ciphertextBox" />
    <button id="decrypt">Decrypt</button>
    <label for="shiftAmount">Shift:</label>
    <input type="text" name="shiftAmount" id="shiftAmount" value="3"/>
    <p id="error"></p>
</div>
<div th:fragment="atbash">
    <label for="plaintextBox">Plaintext:</label>
    <input type="text" name="plaintextBox" id="plaintextBox" />
    <button id="encrypt">encrypt</button>
    <label for="ciphertextBox">Ciphertext:</label>
    <input type="text" name="ciphertextBox" id="ciphertextBox" />
    <button id="decrypt">Decrypt</button>
</div>
<div th:fragment="kamasutra">
    <table id="keyFields">
        <tr>
            <td><input name="key[]" type="text" maxlength="1"/></td>
            <td><input name="key[]" type="text" maxlength="1"/></td>
        </tr>
        <tr>
            <td><input name="key[]" type="text" maxlength="1" /></td>
            <td><input name="key[]" type="text" maxlength="1"/></td>
        </tr>
        <tr>
            <td><input name="key[]" type="text" maxlength="1"/></td>
            <td><input name="key[]" type="text" maxlength="1"/></td>
        </tr>
        <tr>
            <td><input name="key[]" type="text" maxlength="1"/></td>
            <td><input name="key[]" type="text" maxlength="1"/></td>
        </tr>
        <tr>
            <td><input name="key[]" type="text" maxlength="1"/></td>
            <td><input name="key[]" type="text" maxlength="1"/></td>
        </tr>
        <tr>
            <td><input name="key[]" type="text" maxlength="1"/></td>
            <td><input name="key[]" type="text" maxlength="1"/></td>
        </tr>
        <tr>
            <td><input name="key[]" type="text" maxlength="1"/></td>
            <td><input name="key[]" type="text" maxlength="1"/></td>
        </tr>
        <tr>
            <td><input name="key[]" type="text" maxlength="1"/></td>
            <td><input name="key[]" type="text" maxlength="1"/></td>
        </tr>
        <tr>
            <td><input name="key[]" type="text" maxlength="1"/></td>
            <td><input name="key[]" type="text" maxlength="1"/></td>
        </tr>
        <tr>
            <td><input name="key[]" type="text" maxlength="1"/></td>
            <td><input name="key[]" type="text" maxlength="1"/></td>
        </tr>
        <tr>
            <td><input name="key[]" type="text" maxlength="1"/></td>
            <td><input name="key[]" type="text" maxlength="1"/></td>
        </tr>
        <tr>
            <td><input name="key[]" type="text" maxlength="1"/></td>
            <td><input name="key[]" type="text" maxlength="1"/></td>
        </tr>
        <tr>
            <td><input name="key[]" type="text" maxlength="1"/></td>
            <td><input name="key[]" type="text" maxlength="1"/></td>
        </tr>
    </table>
    <label for="plaintextBox">Plaintext:</label>
    <input type="text" name="plaintextBox" id="plaintextBox" />
    <button id="encrypt">encrypt</button>
    <label for="ciphertextBox">Ciphertext:</label>
    <input type="text" name="ciphertextBox" id="ciphertextBox" />
    <button id="decrypt">Decrypt</button>
    <p id="lettersList">Letters needed: A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
</div>
<div th:fragment="railfence">
    <label for="plaintextBox">Plaintext:</label>
    <input type="text" name="plaintextBox" id="plaintextBox" />
    <button id="encrypt">encrypt</button>
    <label for="ciphertextBox">Ciphertext:</label>
    <input type="text" name="ciphertextBox" id="ciphertextBox" />
    <button id="decrypt">Decrypt</button>
    <label for="numberOfRails">Number of Rails:</label>
    <input type="text" name="numberOfRails" id="numberOfRails" />
    <p id="error"></p>
</div>
<div th:fragment="vigenere">
    <label for="plaintextBox">Plaintext:</label>
    <input type="text" name="plaintextBox" id="plaintextBox" />
    <button id="encrypt">encrypt</button>
    <label for="ciphertextBox">Ciphertext:</label>
    <input type="text" name="ciphertextBox" id="ciphertextBox" />
    <button id="decrypt">Decrypt</button>
    <label for="numberOfRails">Keyword:</label>
    <input type="text" name="keyword" id="keyword" />
    <p id="error"></p>
</div>
</body>
</html>