<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header(${'Leaderboard'})">
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navbar :: navbar" class="row navbar"></div>
    <div class="toolDiv">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Leaderboards (Top 10 Users):</h2>
                <div class="" th:each="user,iterStat : ${leaderboardUserList}" th:object="${user}">
                    <div><span class="col-md-1" th:text="${iterStat.index} + 1 + '. '"></span><a
                            class="col-md-10 indexlink" th:href="@{'/users/'+*{id}}" th:text="*{username}"></a><span
                            class="col-md-1" th:text="*{points}"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" class="row footer">
    </div>
</div>
</body>
</html>