<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header(${'Profile'})"></head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navbar :: navbar" class="row navbar"></div>
    <div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h1 th:text="${user.username}+'&#8217;s profile page'"></h1>
            <h4 th:if="${isAdmin} and ${user.admin}"><a th:href="@{'/admin'}">Admin</a></h4>
            <h3><a th:if="${showEditControls}" th:href="@{'/users/'+*{id}+'/settings'}" >Change settings</a></h3>
            <h2 th:text="'Points: '+${user.points}"></h2>
            <div>
                <!--TODO: Maybe implement this check in the controller, using a fori on the list of cryptos that is being passed.-->
                <div th:each="crypto : ${user.cryptos}" th:object="${crypto}">
                    <div th:with="activeAndApproved=*{active} and *{isApproved},userIsOwner=${showEditControls},isAdmin=${isAdmin}">
                        <div th:if="${activeAndApproved} or ${userIsOwner} or ${isAdmin}">
                            <div><a th:href="@{'/cryptos/' + *{id}}" th:text="*{name}"></a></div>
                            <div th:text="*{scheme}"></div>
                            <div th:text="*{cryptoText}">Puzzle</div>
                            <div th:text="*{creationDate}"></div>
                            <div th:unless="*{active}">Inactive</div>
                        </div>
                    </div>
                </div>
                <!-- -->

            </div>
            <h1>Solved:</h1>
            <div>
                <div th:each="userCrypto : ${user.userCryptos}" th:object="${userCrypto}">
                    <div><a th:if="*{crypto.active} and *{crypto.isApproved}" th:href="@{'/cryptos/' + *{crypto.id}}" th:text="*{crypto.name}"></a></div>
                    <div th:unless="*{crypto.active} and *{crypto.isApproved}" th:text="*{crypto.name}">Title</div>
                    <div th:text="*{crypto.scheme}"></div>
                    <div th:text="*{crypto.cryptoText}">Puzzle</div>
                    <div th:text="*{crypto.creationDate}"></div>
                    <div th:text="*{crypto.points}"></div>
                    <div th:unless="*{crypto.active}">Inactive</div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div th:replace="fragments/footer :: footer" class="row footer">
    </div>
</div>
</body>
</html>