<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header(${'Cryptanalysis'})">
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navbar :: navbar" class="row navbar"></div>
    <div th:replace="fragments/wikinav :: wikinav" class="row"></div>
    <div class="row ">
        <div class="col-md-6 col-md-offset-3">
            <a class="backbutton btn btn-default" href="/walkthroughs">Back to Walkthrough Main Page</a>
        </div>
    </div>
    <div class="row walkthrough-text">
        <div class="col-md-6 col-md-offset-3">
            <h3 class="text-center">
                General Cryptanalysis techniques
            </h3>

            <p class="text-center">
            Cryptanalysis techniques are nearly as old as cryptography itself, and their
            histories are completely intertwined, each spurring the other forward.  As one
            cipher system falls to analysis, another, stronger one takes it's place, only to
            be defeated by deeper analysis.  We will describe 2 of the most basic techniques
            here, but there are more out there for the dedicated cryptanalist.  Our first
            technique is frequency analysis.

            </p>
            <p class="text-center">
            In every language, the frequency with which individual letters appear varies
            from letter to letter, creating a fingerprint or signature that can be mapped.
            In english, the most common letters are traditionally taken to be <br />
            <code>E T A O I N S H R D L U</code><br />
            though this can change depending on the texts used for the sample.
            The full table of letter frequencies is approximately <br />

                <code>E 12.702%</code><br />
                <code>T 9.056%</code><br />
                <code>A 8.167%</code><br />
                <code>O 7.507%</code><br />
                <code>I 6.966%</code><br />
                <code>N 6.749%</code><br />
                <code>S 6.327%</code><br />
                <code>H 6.094%</code><br />
                <code>R 5.987%</code><br />
                <code>D 4.253%</code><br />
                <code>L 4.025%</code><br />
                <code>C 2.782%</code><br />
                <code>U 2.758%</code><br />
                <code>M 2.406%</code><br />
                <code>W 2.360%</code><br />
                <code>F 2.228%</code><br />
                <code>G 2.015%</code><br />
                <code>Y 1.974%</code><br />
                <code>P 1.929%</code><br />
                <code>B 1.492%</code><br />
                <code>V 0.978%</code><br />
                <code>K 0.772%</code><br />
                <code>J 0.153%</code><br />
                <code>X 0.150%</code><br />
                <code>Q 0.095%</code><br />
                <code>Z 0.074%</code>

        </p>
            <p class="text-center">
            Though again, these numbers can change depending on what sample is analyzed.
            They are generally close enough to begin analysis though.

        </p>
            <p class="text-center">
            Begin by counting the number of times each letter appears in the ciphertext
            in question.  In a monoalphabeti cipher, the most common is most likely to be E,
            the second most common T, and so on.  This is not an absolute, and some amount
            of guessing and testing is necessary.  It also depends on the text in question.
            The novel La Disparition, written in French by Georges Perec, is completely
            devoid of the letter E, the most common letter in french.  It was later
            translated into english, and the translation managed to keep the same restraint,
            utterly lacking the most common letter in the english language.  A frequency
            analysis of this novel would be heavily distorted, so it serves as a perfect
            example of why frequency analysis is not a hard and fast rule.

        </p>
            <p class="text-center">
            The next technique we will look at is a Known Plaitext Attack, also know as
            searching for cribs.  A crib is a piece of the plaintext an attacker knows, or
            can reasonably guess, in advance.  This is easiest if the original spacing, line
            breaks, and punctuation of the plaintext has been preserved, but it is not
            necessary.  Take a look at the structure of the following
            piece of ciphertext: <br />

                <code>VWSJ XSLZWJ, </code><br />
                <code>A SE OJALAFY LG UZWUC MH GF QGM.  A CFGO QGMJ ZWSDLZ ZSK TWWF XSADAFY AF LZWKW</code> <br />
                <code>DSKL XWO EGFLZK, SFV A ZGHW QGM SJW ESCAFY S JWUGNWJQ.</code> <br />
                <br />
                <code>-QGMJ DGNAFY KGF</code> <br />
                <code>BGZF</code>

        </p>
            <p class="text-center">
            Does that look like a familiar style of writing?  Some very common format
            that gets used over and over again?  It's almost definitely a letter.  If it is
            a letter, that first word, "VWSJ", is almostly certainly the English word
            "Dear", the traditional start of a letter.  We can reasonably guess that in this
            cipher, D enciphers to V, E enciphers to W, A enciphers to S, and R enciphers to
            J.  That's four letters we can guess, and possibly fill in the meaning of.  Now,
            we extend our guess by checking how far each of those shift actually is.  If
            they are the same, we know the whole message is likely a Caesar shift, and we
            have it decrypted.

        </p>
            <p class="text-center">
            Cribs can be anything that can be reasonably guessed.  The letter previously
            demonstrated is a fairly blatant example, but others are possible.  A famous
            example was used by the English during World War II during the decryption of the
            German enigma cipher.  The Germans were known to always send a weather report
            promptly at 6:00 AM every day.  The english would scan this, and guess that the
            first words of the report were the German words for "Weather Report", giving
            them a valuable clue to decipher the rest of the message.

        </p>
            <p class="text-center">
            Cribs can also apply to keywords, instead of messages.  If you are attacking
            a Vigenere cipher, and have worked out some of the shifts used in the cipher,
            but not all of them, you make have a partially constructed keyword, with the
            shifts you have guessed corresponding to letters in the word.  If you have
            "crXptX" as a keyword, but frequency analysis is failing for the last two
            shifts, it would be a very reasonable guess to try "crypto" as a keyword, and
            see if the whole message can be deciphered.

        </p>
            <p class="text-center">
            Keep searching for new tools to attack the challenges on this site.
            Mathematics, literature, and history are all full of lessons for the would-be
            cryptanalyst, if you know where to find them!

</p>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" class="row footer">
    </div>
</div>
</body>
</html>