/*navbar-------------------------------------------------------------------------------------*/

.navbar-inverse {
    background-color: #222222
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #616161
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #080808
}

.dropdown-menu {
    background-color: #222222
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #616161
}

.navbar-inverse {
    border-color: #080808
}

.navbar-inverse .navbar-brand {
    color: #00DE00
}

.navbar-inverse .navbar-brand:hover {
    color: #00DE00
}

.navbar-inverse .navbar-nav > li > a {
    color: #777777;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #00DE00
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #DE1507
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #00DE00
}

.dropdown-menu > li > a {
    color: #00DE00
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #00DE00
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #00DE00
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #00DE00
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-bottom-color: #00DE00
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-bottom-color: #00DE00
}

.footertext {
    color: #00DE00
}

.rightnav {
    margin-right: 20px;
}

/*font-family: 'Anonymous Pro', monospace;*/
/*font color #00CC00*/
/*--------------------------------------Walkthrough Page-----------------------------------------------*/
code {
    color: white;
    background-color: #555555;
    font-family: 'Anonymous Pro', monospace;
    text-shadow: none;
}

.walkthrough-text {
    background-color: #000;
    text-align: center;
    width: 75%;
    font-size: 17px;
    padding: 20px;
    color: rgb(126, 219, 82);
    cursor: default;
    border-color: #00DE00;;
    border-style: solid;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 20px;
    overflow: auto;
    margin-left: 300px;
    margin-top: 3%;
}

/*----------------------------------------GENERAL THEME-------------------------------------------------*/
body, html {
    background-color: grey;
    font-family: 'Anonymous Pro', monospace;
    font-size: 18px;
    max-width: 100%;
    overflow-x: hidden;
}

.jumbotron {
    background-color: #222222;
    color: #00DE00;
}

.indexlink {
    color: white;
    text-decoration: underline;
}

.indexlink:hover {
    color: red;
}

.editlink {
    margin-left: 10%;
}

.contentDiv {
    background-color: #000;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 80%;
    color: rgb(126, 219, 82);
    cursor: default;
    border-color: #00DE00;;
    border-style: solid;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 20px;
    overflow: auto;
    margin-left: 9%;
    margin-top: 3%;
    margin-bottom: 7%;
}

/*-------------------------------------Register/Login Page----------------------------------------------*/
.submitbutton {
    height: 50px;
    width: 200px;
    background-color: #222222;
    border-radius: 0;
    color: #00DE00;
    border: none !important;
    margin-bottom: 5px;
}

.regbutton:hover {
    color: white;
    background-color: #aa422f;
}

.regbutton:active {
    color: white;
    background-color: #aa422f;
}

.panel {
    margin-top: 40px;
}

.form-group {
    margin-left: 10px;
    margin-right: 10px;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #222222;
    color: #00DE00;
}

.panel-default, .panel-heading {
    border-color: black;

}

fieldset, .panel.panel-default {
    background-color: #555555;
}

/*----------------------------------------Challenge Page----------------------------------------------*/
.challengesDiv1 {
    background-color: #000;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    color: rgb(126, 219, 82);
    cursor: default;
    border-color: #00DE00;;
    border-style: solid;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 20px;
    margin-top: 5%;
}

.challengesDiv2 {
    background-color: #000;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    color: rgb(126, 219, 82);
    cursor: default;
    border-color: #00DE00;;
    border-style: solid;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 20px;
    margin-top: 5%;
}

div#layoutObj {
    position: relative;
    margin-top: 1%;
    margin-left: 5%;
    width: 90%;
    height: 900px;
}

.challenge-title {
    color: #00DE00;
    text-decoration: underline;
}

#challenge-page-header {
    margin-left: 13%;
}

.container-fluid {
    margin-top: 50px;
    margin-bottom: 50px;
}

/*#layoutObj{*/
/*height: 100vh;*/
/*width: 100%;*/
/*margin-left: 40px;*/
/*}*/

div.dhx_cell_hdr {
    background-color: #000000;
}

#scratchpad {
    height: 860px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #222222 !important;
    color: #00DE00;
}

div#challenge {
    height: 93%;
    width: 97%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #222222 !important;
    color: #00DE00;
    resize: none;
    margin-left: 3%;
    margin-top: 3%;
}

#formContent {
    overflow-y: scroll;
}

.challenge-buttons {
    margin-top: 3px;
}

.challenge-link {
    color: #00DE00;
    text-decoration: underline;
}

.challenge-link:hover {
    color: red;
}

/*------------------------------------------Sidebar---------------------------------------------*/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*---------------------------------------------Profile Page-------------------------------------*/
.solvedDiv {
    text-shadow: 0.1em 0.1em 0.2em #000;
    background-color: #000;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    color: rgb(126, 219, 82);
    cursor: default;
    border-color: #00DE00;;
    border-style: solid;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 20px;
}

.postedDiv {
    text-shadow: 0.1em 0.1em 0.2em #000;
    background-color: #000;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    color: rgb(126, 219, 82);
    cursor: default;
    border-color: #00DE00;
    border-style: solid;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 20px;
}

.editprofileDiv {
    text-shadow: 0.1em 0.1em 0.2em #000;
    background-color: #000;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    color: rgb(126, 219, 82);
    cursor: default;
    border-color: #00DE00;;
    border-style: solid;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 20px;
    width: 60%;
    margin-left: 20%;
    margin-top: 3%;
}

.editinput {
    color: black;
    width: 150%;
    display: table-cell;
    margin-bottom: 2px;
}

.editform {
    display: table;
    margin-left: 21%;
}

.editbutton {
    margin-left: 75%;
    margin-top: 2%;

}

.editbutton:hover input {
    color: #00DE00;
}

.editbutton input:hover {
    color: #616161;
}

.fieldEditDiv {
    display: table-row;
}

.editlabel {
    display: table-cell;
    margin-bottom: 2px;
}

.panel-body {
    color: #00DE00;
}

.profileheader {
    text-decoration: underline;
    margin-top: 3px;
}

/*-----------------------------------------------TOOLS---------------------------------------------------*/
.modal-body {
    background-color: #555555;
    color: #00DE00;
}

.modal-header {
    color: #00DE00;
    background-color: #222222;

}

.close-modal {
    color: #00DE00;
}

.toolDiv {
    position: fixed;
    text-shadow: 0.1em 0.1em 0.2em #000;
    background-color: #000;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 40%;
    color: rgb(126, 219, 82);
    cursor: default;
    border-color: #00DE00;
    border-style: solid;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 20px;
    overflow: auto;
    margin-left: 28%;
    margin-top: 3%;
}

#vigeneredecrypt, #vigenereencrypt, #caesardecrypt, #caesarencrypt, #atbashdecrypt, #atbashencrypt, #kamasutradecrypt, #kamasutraencrypt,
#railfencedecrypt, #railfenceencrypt, #vigenereciphertextBox, #caesarciphertextBox, #vigenereplaintextBox, #caesarplaintextBox, #atbashciphertextBox,
#atbashplaintextBox, #kamasutraciphertextBox, #kamasutraplaintextBox, #railfenceciphertextBox, #railfenceplaintextBox, #plainText, .editinput {
    background-color: #222222;
    color: #00DE00;
}

#solution, #plaintext, #points, #name, #scheme, #key, #keepPunctuation, #caesarshiftAmount, #numberOfRails, #keyword, .kama, .ksin, #rails, .button {
    background-color: #222222;
    color: #00DE00;
}

.labeltools {
    color: #00DE00;
}

#key {
    background-color: black;
}

textarea, input {
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.ksin {
    width: 8%;
}

#kamalist {
    padding-left: 0;
}

.button:hover {
    background-color: #616161;
    color: #00DE00;
}

.next {
    margin-left: 10%;
}

.loginlabel {
    color: #00DE00;
}