/*navbar-------------------------------------------------------------------------------------*/

.navbar-inverse {
    background-color: #222222
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #616161
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #080808
}

.dropdown-menu {
    background-color: #222222
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #616161
}

.navbar-inverse {
    border-color: #080808
}

.navbar-inverse .navbar-brand {
    color: #00DE00
}

.navbar-inverse .navbar-brand:hover {
    color: #53B01C
}

.navbar-inverse .navbar-nav > li > a {
    color: #999999
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #00DE00
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #DE1507
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #00DE00
}

.dropdown-menu > li > a {
    color: #00DE00
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color:  #00DE00
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #00DE00
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #00DE00
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-bottom-color: #00DE00
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-bottom-color: #00DE00
}

.footertext{
    color:#00DE00
}

.rightnav{
    margin-right: 20px;
}

/*font-family: 'Anonymous Pro', monospace;*/
/*font color #00CC00*/

/*----------------------------------------GENERAL THEME-------------------------------------------------*/
body, html {
    background-color: #616161;
    font-family: 'Anonymous Pro', monospace;
    font-size: 18px;
}

.jumbotron{
    background-color: #222222;
    color: #00DE00;
}
.indexlink{
    color: red;
}

/*-------------------------------------Register/Login Page----------------------------------------------*/
.submitbutton {
    height: 50px;
    width: 200px;
    background-color: #222222;
    border-radius: 0;
    color: #00DE00;
    border: none !important;
    margin-bottom: 5px;
}

.regbutton:hover {
    color: white;
    background-color: #aa422f;
}

.regbutton:active {
    color: white;
    background-color: #aa422f;
}

.panel{
    margin-top: 40px;
}

.form-group{
    margin-left: 10px;
    margin-right: 10px;
}
.panel > .panel-heading {
    background-image: none;
    background-color: #222222;
    color: #00DE00;
}

/*----------------------------------------Challenge Page----------------------------------------------*/
div#layoutObj {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    width: 1500px;
    height: 1000px;
}

.container-fluid{
    margin-top: 50px;
    margin-bottom:50px;
}

/*#layoutObj{*/
    /*height: 100vh;*/
    /*width: 100%;*/
    /*margin-left: 40px;*/
/*}*/

div.dhx_cell_hdr{
    background-color: #000000;
}

/*textarea{*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*background-color: #222222 !important;*/
    /*color: #00DE00;*/
/*}*/

#challenge, #formContent{
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #222222 !important;
    color: #00DE00;
    resize: none;
}

#formContent{
    overflow-y: scroll;
}
/*------------------------------------------Scramble Text---------------------------------------------*/
