<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header(${'Workbench Index'})"></head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navbar :: navbar" class="row navbar"></div>
    <div class="row toolDiv">
        <div class="col-md-12">
            <h1>Our Cipher Tools</h1>
            <div><a class="indexlink" href="/workbench/caesar">Caesar Cipher</a></div>
            <div><a class="indexlink" href="/workbench/atbash">Atbash Cipher</a></div>
            <div><a class="indexlink" href="/workbench/kamasutra">Kama Sutra Cipher</a></div>
            <div><a class="indexlink" href="/workbench/railfence">Rail Fence Cipher</a></div>
            <div><a class="indexlink" href="/workbench/vigenere">Vigenere Cipher</a></div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" class="row footer">
    </div>
</div>
</body>
</html>