<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header(${'Tools Index'})"></head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navbar :: navbar" class="row navbar"></div>
    <div class="row">
        <div class="col-md-12">
            <h1>Tools Index</h1>
            <a href="/../tool">Our Tool</a>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer" class="row footer">
    </div>
</div>
</body>
</html>