<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(${'Login!'})">
</head>
<body>
    <div class="container-fluid">
    <div th:replace="fragments/navbar :: navbar" class="row navbar"></div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                Walkthrough Page
            </h3>

            <div th:each="walkthrough : ${allWalkthroughs}" th:object="${walkthrough}">
                <div th:text="*{title}"></div>
            </div>

            <p class="text-center">
                Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="#" class="btn" type="button">Button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn" type="button">Button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn" type="button">Button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn" type="button">Button</a>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" class="row footer">
    </div>
</div>
</body>
</html>